{% extends 'base.html' %}
{% load humanize %}

{% block title %}Rom | Dashboard{% endblock %}

{% block content %}
<div class="monthly block">
    <h2>Monthly Totals</h2>
    <table>
        <thead>
            <tr>
                <th>Month</th>
                <th>Adjusted Expenses</th>
                <th>Total Income</th>
                <th>Total Invoiced</th>
            </tr>
        </thead>
        <tbody>
            {% for totals in monthly_totals %}
            <tr>
                <td>{{ totals.month }}</td>
                <td>${{ totals.adjusted_expenses|intcomma }}</td>
                <td>${{ totals.income|intcomma }}</td>
                <td>${{ totals.invoiced|intcomma }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<div class="outstanding block">
    <h2>Outstanding Invoices</h2>
    <dl>
        <dt>Total amount:</dt>
        <dd>${{ outstanding.total_balance|intcomma }}</dd>
        <dt>Overdue amount:</dt>
        <dd>${{ outstanding.overdue_balance|intcomma }}</dd>
        {% if outstanding.overdue %}
        <dt>Overdue invoices:</dt>
        <dd>
            <ul>
                {% for invoice in outstanding.overdue %}
                <li>{{ invoice.summary }}</li>
                {% endfor %}
            </ul>
        </dd>
        {% endif %}
    </dl>
</div>
{% endblock %}
