{% extends 'base.html' %}
{% load humanize %}

{% block title %}Rom | Dashboard{% endblock %}

{% block content %}
<h1>Totals for {{ month }}</h1>
<table>
    <thead>
        <tr>
            <th>Adjusted Expenses</th>
            <th>Total Income</th>
            <th>Total Invoiced</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>${{ totals.adjusted_expenses|intcomma }}</td>
            <td>${{ totals.income|intcomma }}</td>
            <td>${{ totals.invoiced|intcomma }}</td>
        </tr>
    </tbody>
</table>
<div class="outstanding">
    <h2>Outstanding Invoices</h2>
    <dl>
        <dt>Total amount:</dt>
        <dd>${{ outstanding.total_balance|intcomma }}</dd>
        <dt>Overdue amount:</dt>
        <dd>${{ outstanding.overdue_balance|intcomma }}</dd>
        {% if outstanding.overdue %}
        <dt>Overdue invoices:</dt>
        <dd>
            <ul>
                {% for invoice in outstanding.overdue %}
                <li>{{ invoice.summary }}</li>
                {% endfor %}
            </ul>
        </dd>
        {% endif %}
    </dl>
</div>
{% endblock %}
