{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>{% block title %}Rom{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}"/>
    </head>
    <body>
        <nav>
            <ul>
                <li><a href="{% url 'admin:index' %}">admin</a></li>
                <li><a href="{% url 'admin:invoices_invoice_changelist' %}">invoices</a></li>
                <li><a href="{% url 'dashboard' %}">dashboard</a></li>
            </ul>
        </nav>
        <main>
            {% block content %}{% endblock %}
        </main>
    </body>
</html>
